body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700px;
}

.top-background {
    background-image: url(images/top-background.png);
    background-repeat: no-repeat;
}

.Big-Dream {
    background-position: right;
}